.header-main{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top:-40px !important;
    padding-top: 50px ;
    padding-bottom: 50px ;
    position: relative;
}
.myName{
    font-weight: 800;
}
