.header-main{
    height: 100%;
    /* background: rgb(19, 1, 1); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* background: linear-gradient(145deg,#f81f01,#ee076e);   color: #f9004d; */
.myName{
    color: #ee076e;
    font-weight: 800;
}