.custom-link-btn{
    transition: all ease 1s;
    padding: 5px 20px !important;
    color:rgb(34, 34, 34) !important;
    border: 1px solid #fcee21 !important;
    background-color: #fcee21 !important;
    transition: all ease 0.7s;
    border-radius: 1px!important;
  }
  .custom-link-btn:hover{
    color: white !important;
    background:none !important;
  }
  .custom-link-btn:hover .external{
    margin-right: 15px;
  }