.footer-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border: 1px solid  #07c020 ;
    border-radius: 100%;
    margin: 0px 10px ;
    padding: 10px;
    height: 40px;
    width: 40px;
    transition: all linear 1s;

}
.footer-icon:hover{
    color: #fff;
    background: linear-gradient(55deg , #07c020 50%,#dfdf26);
}