
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


html, body{
  background-color: #060446 ;
  background-color: #080726 !important;
}
/* */
a,a:hover{
  text-decoration: none !important;
  color: white;
}


.common-btn{
  background: #fcee21 !important;
  transition: all ease 1s;
  color: black !important;
  border-radius: 0px !important;
  border: 1px solid transparent;
}
.common-btn:hover{
  background: none !important;
  color: white !important;
  border: 1px solid #fcee21;
}
.MuiDrawer-paper{
  background: #201e43 url(https://images.pexels.com/photos/1668928/pexels-photo-1668928.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center  top  !important;
}

.footer-link{
  color: #fff;
}
.custom-title{
  position: relative;
  margin-bottom: 40px;
  font-family: 'Poppins', sans-serif !important;
}
.MuiTypography-h4 {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 700;
}

.custom-title::after{
  content: '';
  width: 90px;
  height: 5px;
  position: absolute;
  display: block;
  bottom: -30%;
  right: 45%;
  margin-bottom: 10px;
  background: linear-gradient(55deg , #fcee21 50%,#ab1bff 40%);
  transform: translate(-45%, 30%);
}
.footer-icon{
  color: white !important;
}

.title {
  color: white;
  font-size: 50px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}
.title > span {
  color: #fcee21;
}