 .my_class{
  background: linear-gradient(145deg,#f81f01,#ff2688);
  background: linear-gradient(#fdfc47, #24fe41);
  color: #f9004d; 
  color: #ff0051; 
  color: #201e43;
  color: #0a115c #201e43;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-text-fill-color: transparent;
} 

/* */
a,a:hover{
  text-decoration: none !important;
  color: white;
}


.common-btn{
  background: linear-gradient(55deg , #07c020 50%,#dfdf26);
  /* background: linear-gradient(55deg , #07c020 50%,#dfdf26); */
  /* background: linear-gradient(55deg , #dfdf26 , #07c020 50%); */
  /* background: linear-gradient(55deg , #dfdf26 , #07c020 50%); */
  transition: all ease 1s;
  color: white !important;
}
.common-btn:hover{
  background: linear-gradient(55deg , #dfdf26 , #07c020 50%);
  color: white !important;
}
.footer-link{
  color: #fff;
}
.custom-title{
  font-size: 50px;
  font-weight: 700;
  position: relative;
  margin-bottom: 40px;
  font-family: 'Poppins', sans-serif;
}
.custom-title::after{
  content: '';
  width: 80px;
  height: 3px;
  position: absolute;
  display: block;
  bottom: -25%;
  right: 45%;
  background: linear-gradient(55deg , #07c020 50%,#dfdf26);
  transform: translate(-45%, -25%);
}
.footer-icon{
  color: white !important;
}
